<!DOCTYPE html>
<html>
<%- includes(../layout/head.ejs) %>
<body>
  <%- includes(../layout/header.ejs) %>
  <main>
    <p> Test Test Test </p>
  </main>
  <%- includes(../layout/footer.ejs) %>
</body>
</html>