<!DOCTYPE html>
<html>
<%- include('../layout/head.ejs') %>
<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <p> Test Test Test </p>
  </main>
  <%- include('../layout/footer.ejs') %>
</body>
</html>